.home-content{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-top: 2rem;
    height: 80vh;
    
    
}



.update-user-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    width: 30%;

}

.update-user-form input, .update-user-form textarea{
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    

}

.update-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.update-btn button{
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    border: none;
}